manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
}


//singularity {
//    enabled = true
//    cacheDir = "/athena/elementolab/scratch/asd2007/.singularity"
//    runOptions = "-B /athena:/athena"
//}



//process.$index.container = 'shub://DoaneAS/salmon'
//process.$quant.container = 'shub://DoaneAS/salmon'
//process.$multiqc.container = 'file:///athena/elementolab/scratch/asd2007/.singularity/multiqc-1.0--py35_4.simg'
//process.$fastqc.container = 'file:///athena/elementolab/scratch/asd2007/.singularity/DoaneAS-RNAseq-master-latest.img'
